@charset "UTF-8";
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #fff;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/*============global============*/
body {
  background-color: #f2ecde;
  font-family: roboto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  list-style: none;
  color: #333;
}

.l-main {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.submit {
  margin-top: 30px;
  width: 180px;
  height: 40px;
  background-color: #993366;
  color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ==============
記事の見出し
============== */
/* ==============
サイドバー関連
============== */
.p-container {
  display: flex;
  flex-direction: column;
}

.c-heading {
  font-size: 18px;
  font-weight: bold;
}

.c-image {
  height: 300px;
  padding: 20px 0;
  object-fit: contain;
}

.fas:first-child,
.far:first-child {
  margin-right: 6px;
}

i + i {
  margin: 0 0 0 6px;
}

.fas.fa-angle-down {
  display: inline-block;
}

.headingTop {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: #8e1a47;
}
.headingTop::after {
  content: "";
  border-bottom: 2px solid #8e1a47;
}

.pagination {
  margin: 70px auto 0;
}
.pagination .list {
  display: flex;
  justify-content: center;
}
.pagination .list .arrow,
.pagination .list li .fas {
  height: 22px;
  display: flex;
  align-items: center;
  color: #8e1a47;
}
.pagination .list .arrow:hover {
  opacity: 0.8;
}
.pagination .list .page {
  width: 22px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .list .page a {
  background-color: #8e1a47;
  color: #fff;
  font-size: 12px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .list .page a:hover {
  opacity: 0.8;
}
.pagination .list .page.active a {
  background-color: #fff;
  color: #8e1a47;
  border: 1px solid #8e1a47;
}
.pagination .list li:not(:first-child) {
  margin-left: 10px;
}

.hamburger {
  position: relative;
  width: 33px;
  height: 31px;
  cursor: pointer;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    margin: 0 40px 0;
  }
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ebe0ce;
  border-radius: 4px;
}

.hamburger,
.hamburger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}

.hamburger span:nth-of-type(1) {
  top: 0;
}

.hamburger span:nth-of-type(2) {
  top: 14px;
}

.hamburger span:nth-of-type(3) {
  bottom: 0;
}

.hamburger.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(14px) rotate(-45deg);
  transform: translateY(14px) rotate(-45deg);
}

.hamburger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.hamburger.active span:nth-of-type(3) {
  opacity: 0;
}

.menu.open {
  top: 220px;
  transition-duration: 0.5s;
}

.menu {
  display: flex;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  top: -1050px;
  position: fixed;
  transition-duration: 0.5s;
}

.menu ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 0;
  width: 96%;
}

.menu ul .p-header__item {
  font-size: 18px;
}

.menu ul .p-header__item + .p-header__item {
  margin-top: 30px;
}

.p-toc__tocWrap {
  border: 3px solid #8e1a47;
  border-radius: 2px;
  margin: 15px 0 0;
  padding-bottom: 15px;
}
.p-toc__tocWrap .p-index {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  color: #8e1a47;
  font-weight: 500;
}
.p-toc__tocWrap ol {
  padding-left: 30px;
  font-size: 20px;
}
.p-toc__tocWrap ol .p-toc__item {
  margin-top: 15px;
}
.p-toc__tocWrap ol .p-toc__item a {
  color: #8e1a47;
  font-weight: 500;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.p-toc__tocWrap ol .p-toc__item a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #8e1a47;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.p-toc__tocWrap ol .p-toc__item a:hover::after {
  transform: scale(1, 1);
}
.p-toc__tocWrap ol .p-toc__item::marker {
  color: #8e1a47;
}
.p-toc__tocWrap ol ol {
  font-size: 16px;
}

.p-container__post--none {
  width: 100%;
  display: flex;
  justify-content: center;
}

.margin {
  margin-top: 30px;
}

/*============header============*/
.p-header__nav.is-sticky {
  position: fixed;
  top: 0;
}

header.is-sticky {
  padding-bottom: 70px;
}

.p-header__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p-header__title {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #ebe0ce;
}
@media screen and (max-width: 768px) {
  .p-header__title {
    display: none;
  }
}
.p-header__title a .p-header__logo {
  max-width: 400px;
}

.p-header__nav {
  background-color: #8e1a47;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: #ebe0ce;
}
@media screen and (max-width: 768px) {
  .p-header__nav {
    justify-content: flex-end;
  }
}

.p-header__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .p-header__list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 314px;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .p-header__list.open {
    opacity: 0.97;
    visibility: visible;
    transition: all 0.5s;
  }
}
.p-header__list .p-header__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}
@media screen and (max-width: 1025px) {
  .p-header__list .p-header__item {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .p-header__list .p-header__item {
    height: unset;
    margin-top: 60px;
  }
}
.p-header__list .p-header__item a {
  color: #ebe0ce;
  font-size: 18px;
  transition-duration: 0.3s;
}
.p-header__list .p-header__item a:hover {
  text-shadow: #eee 1px 1px 10px, #ebe0ce -1px 1px 10px, black 1px -1px 10px, #ebe0ce -1px -1px 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
@media screen and (max-width: 768px) {
  .p-header__list .p-header__item a {
    font-size: 24px;
  }
}
.p-header__list > .p-header__item + .p-header__item {
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .p-header__list > .p-header__item + .p-header__item {
    margin: 50px 0 0;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #8e1a47;
  top: 70px;
  min-width: 100%;
  border: 3px solid #8e1a47;
  white-space: nowrap;
}
@media screen and (max-width: 1025px) {
  .sub-menu {
    position: relative;
    top: 0;
    background-color: unset;
    border: unset;
  }
}
.sub-menu .p-header__item {
  margin: 20px;
  height: 25px;
  border-bottom: 2px solid #ebe0ce;
}
@media screen and (max-width: 1025px) {
  .sub-menu .p-header__item {
    margin: 30px 20px;
  }
}
.sub-menu .p-header__item a {
  display: block;
  padding: 2px;
}
.sub-menu::before {
  content: "";
  border: solid 3px #ebe0ce;
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}
@media screen and (max-width: 1025px) {
  .sub-menu::before {
    content: none;
  }
}

.sub-menu.is-active {
  display: block;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html.is-fixed,
html.is-fixed body {
  overflow: hidden;
}

.p-header__spList {
  display: none;
  position: absolute;
  z-index: 9999;
}
@media screen and (max-width: 768px) {
  .p-header__spList {
    display: flex;
  }
}

.p-header__spTitle {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-header__spTitle {
    display: flex;
    position: absolute;
    left: 20px;
    font-size: 24px;
    letter-spacing: 7px;
  }
}
.p-header__spTitle a {
  color: #ebe0ce;
}

/*============./header============*/
/*============pickup============*/
.p-pickup__inner {
  display: flex;
  width: 96%;
  justify-content: center;
  margin: auto;
}
@media screen and (max-width: 1025px) {
  .p-pickup__inner {
    max-width: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .p-pickup__inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .p-pickup__inner {
    flex-direction: column;
  }
}

.p-pickup__post {
  color: #333;
  background-color: #fff;
  width: 366px;
}
.p-pickup__post > a {
  display: block;
  padding: 20px 20px 0;
}
.p-pickup__post > a .p-pickup__image__thumbnails {
  color: #fff;
  padding: calc(132 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-pickup__post {
    width: 100%;
  }
}

.p-pickup__title {
  padding: 15px;
  font-size: 18px;
}

.p-pickup__post:not(:nth-child(4n + 1)) {
  display: none;
}

.p-pickup__post + .p-pickup__post {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .p-pickup__post + .p-pickup__post {
    margin: 15px 0 0;
  }
}

/*============./pickup============*/
/*============container============*/
.p-container__inner {
  margin: 30px auto 0;
  display: flex;
  width: 96%;
  justify-content: center;
}
@media screen and (max-width: 1025px) {
  .p-container__inner {
    max-width: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .p-container__inner {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .p-container__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .p-container__inner {
    flex-direction: column;
  }
}

.p-container {
  width: 750px;
}
@media screen and (max-width: 1025px) {
  .p-container {
    width: 100%;
  }
}

/*============./container============*/
/*============postWrap============*/
.p-container__postWrap {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .p-container__postWrap {
    display: unset;
  }
}

.p-container__post {
  background-color: #fff;
  width: calc(50% - 15px);
}
@media screen and (max-width: 768px) {
  .p-container__post {
    width: 100%;
  }
}
.p-container__post > a {
  display: block;
  padding: 20px 20px 0;
}
.p-container__post > a .p-pickup__image__sumbnails {
  color: #fff;
  padding: calc(172 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}

.p-container__date {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.p-container__postTitle {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 90px;
}

.p-container__discription {
  padding: 20px 0 20px;
  font-size: 16px;
  overflow-wrap: break-word;
}

span.my_bold {
  font-weight: 700;
}

.p-container__post:nth-child(2n) {
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .p-container__post:nth-child(2n) {
    margin: 15px 0 0;
  }
}

.p-container__post:nth-child(n + 3) {
  margin-top: 15px;
}

/*============./postWrap============*/
.single {
  height: 100%;
}

.p-single__post {
  background-color: #fff;
  max-width: 750px;
  padding: 10px;
}
@media screen and (max-width: 1025px) {
  .p-single__post {
    max-width: 100%;
  }
}
.p-single__post .p-pickup__image__sumbnails {
  color: #fff;
  padding: calc(172 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}
.p-single__post h2 {
  position: relative;
  padding: 0.5em;
  background: #ebe0ce;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.p-single__post h2::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #959e9b;
}
.p-single__post h2:not(:first-child) {
  margin-top: 40px;
}
.p-single__post h3 {
  padding: 0.4em 0.5em;
  /*文字の上下 左右の余白*/
  color: #494949;
  /*文字色*/
  background: #f2ecde;
  /*背景色*/
  border-left: solid 5px #8e1a47;
  /*左線*/
  border-bottom: solid 3px #d7d7d7;
  /*下線*/
  margin: 20px 0;
  font-weight: 700;
}

.wp-embedded-content {
  width: 100%;
}

.p-404error {
  width: 100%;
  background-color: #fff;
  padding: 20px;
}

/*============sidebar============*/
.l-sidebar {
  width: 350px;
  margin-left: 30px;
  color: #8e1a47;
}
@media screen and (max-width: 1025px) {
  .l-sidebar {
    width: 100%;
    margin: 30px 0 0;
  }
}

.p-sidebar__inner {
  display: flex;
  flex-direction: column;
}

section + section {
  margin-top: 30px;
}

.p-sidebar__profile {
  background-color: #fff;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-sidebar__profileImg img {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.p-sidebar__name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}

.p-sidebar__discription {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}

.p-sidebar__pickup {
  background-color: #fff;
}

.p-sidebar__postWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-sidebar__postWrap .c-heading {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.p-sidebar__post {
  margin: 20px;
  width: 90%;
}
.p-sidebar__post a {
  display: block;
}

.p-sidebar__image__sumbnails {
  padding: calc(172 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 1025px) {
  .p-sidebar__image__sumbnails {
    padding: calc(102 / 300 * 100%) 20px 0;
  }
}

.p-sidebar__discription {
  font-size: 18px;
}

.p-sidebar__archive {
  background-color: #fff;
}
.p-sidebar__archive .c-heading {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.p-sidebar__archiveList {
  margin: 20px;
}

.p-sidebar__month {
  padding: 15px 10px;
  line-height: 1;
  border-bottom: solid 1px #d3d3d3;
}
.p-sidebar__month a {
  padding-left: 5px;
}

.p-sidebar__search {
  background-color: #fff;
  padding: 30px;
}

.p-search__container {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #8e1a47;
  border-radius: 3px;
  height: 50px;
  width: 265px;
  overflow: hidden;
}
.p-search__container input[type="text"] {
  border: none;
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.p-search__container input[type="text"]:focus {
  outline: 0;
}
.p-search__container input[type="submit"] {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #8e1a47;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0px;
  outline: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}
@media screen and (max-width: 1025px) {
  .p-search__container {
    width: 100%;
  }
}

/*============./sidebar============*/
/*============footer============*/
footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #333;
}
footer .l-footer__inner p {
  text-align: center;
  color: #fff;
}
footer .l-footer__inner p a {
  color: #fff;
}
footer .l-footer__inner p + p {
  margin-top: 10px;
}

/*============./footer============*/
.done {
  display: none;
}

.topPageBtn {
  display: none;
}

.wpcf7-form {
  width: 96%;
  max-width: 600px;
  margin: auto;
}

.wpcf7-form p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin-top: 30px;
}

div.wpcf7 {
  margin-top: 30px !important;
}

.wpcf7-form-control-wrap {
  position: relative;
  width: 600px;
}
@media screen and (max-width: 768px) {
  .wpcf7-form-control-wrap {
    width: 96%;
  }
}

.wpcf7-form-control-wrap input[type="text"],
.wpcf7-form-control-wrap input[type="email"] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px;
  transition: 0.3s;
  border: 1px solid #333;
  border-radius: 4px;
}

.wpcf7-form-control-wrap textarea {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  transition: 0.3s;
  border: 1px solid #333;
  border-radius: 4px;
  margin-top: 5px;
}

.wpcf7-text:focus,
.wpcf7-textarea:focus {
  border: 1px solid #8e1a47;
  outline: none;
  box-shadow: 0 0 5px 0.8px rgba(153, 51, 102, 0.5);
}

.wpcf7-response-output {
  text-align: center;
  border-color: #993366 !important;
  margin: 20px 0 !important;
}

.wpcf7-submit {
  margin-top: 30px;
  width: 180px;
  height: 40px;
  background-color: #993366;
  color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  transition: 0.3s;
  outline: none;
  border: none;
  /* 枠線を消す */
  cursor: pointer;
}

.wpcf7-submit:hover {
  box-shadow: 0 0 15px 1px rgba(153, 51, 102, 0.5);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
