/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/*============global============*/
body {
  background-color: #f5f5f5;
  font-family: roboto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  list-style: none;
  color: #333;
}

.l-main {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.p-container {
  display: flex;
  flex-direction: column;
}

.c-heading {
  font-size: 18px;
  font-weight: bold;
}

.c-image {
  height: 300px;
  padding: 20px 0;
  object-fit: contain;
}

.fas,
.far {
  margin-right: 6px;
}

.headingTop {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.pagination {
  margin: 70px auto 0;
}
.pagination .list {
  display: flex;
  justify-content: center;
}
.pagination .list d .arrow,
.pagination .list li .fas {
  height: 22px;
  display: flex;
  align-items: center;
  color: #558f54;
}
.pagination .list .arrow:hover {
  opacity: 0.8;
}
.pagination .list .page {
  width: 22px;
  height: 22px;
}
.pagination .list .page .page a {
  background-color: #558f54;
  color: #fff;
  font-size: 12px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.pagination .list .page .page a:hover {
  background-color: #fff;
  color: #558f54;
  border: 1px solid #558f54;
}
.pagination .list .page .page.active a {
  background-color: #fff;
  color: #558f54;
  border: 1px solid #558f54;
}
.pagination .list li:not(:first-child) {
  margin-left: 10px;
}

/*=============================
hamburger
=============================*/
.hamburger {
  position: relative;
  width: 33px;
  height: 31px;
  cursor: pointer;
  margin-left: 10px;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.hamburger,
.hamburger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}

.hamburger span:nth-of-type(1) {
  top: 0;
}

.hamburger span:nth-of-type(2) {
  top: 14px;
}

.hamburger span:nth-of-type(3) {
  bottom: 0;
}

.hamburger.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(14px) rotate(-45deg);
  transform: translateY(14px) rotate(-45deg);
}

.hamburger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.hamburger.active span:nth-of-type(3) {
  opacity: 0;
}

.menu.open {
  top: 220px;
  transition-duration: 0.5s;
}

.menu {
  display: flex;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  top: -1050px;
  position: fixed;
  transition-duration: 0.5s;
}

.menu ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 0;
  width: 96%;
}

.menu ul .p-header__item {
  font-size: 18px;
}

.menu ul .p-header__item + .p-header__item {
  margin-top: 30px;
}

.p-container__post--none {
  width: 100%;
  display: flex;
  justify-content: center;
}

.margin {
  margin-top: 30px;
}

/*============header============*/
.p-header__nav.is-sticky {
  position: fixed;
  top: 0;
}

header.is-sticky {
  padding-bottom: 70px;
}

.l-header .p-header__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.l-header .p-header__inner .p-header__title {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  z-index: 9999;
  background-color: #fff;
}
.l-header .p-header__inner .p-header__title a .p-header__logo {
  max-width: 400px;
}
.l-header .p-header__inner .p-header__nav {
  background-color: #993366;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  color: #fff;
}
.l-header .p-header__inner .p-header__nav .p-header__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .l-header .p-header__inner .p-header__nav .p-header__list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 467px;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .l-header .p-header__inner .p-header__nav .p-header__list.open {
    opacity: 0.97;
    visibility: visible;
    transition: all 0.5s;
  }
}
.l-header .p-header__inner .p-header__nav .p-header__list .p-header__item a {
  color: #fff;
  font-size: 18px;
  transition-duration: 0.3s;
}
.l-header .p-header__inner .p-header__nav .p-header__list .p-header__item a:hover {
  text-shadow: #eee 1px 1px 10px, #fff -1px 1px 10px, black 1px -1px 10px, #fff -1px -1px 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
@media screen and (max-width: 768px) {
  .l-header .p-header__inner .p-header__nav .p-header__list .p-header__item a {
    font-size: 30px;
  }
}
.l-header .p-header__inner .p-header__nav .p-header__list .p-header__item + .p-header__item {
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .l-header .p-header__inner .p-header__nav .p-header__list .p-header__item + .p-header__item {
    margin: 50px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .l-header .p-header__inner .p-header__nav .p-header__list .p-header__item:nth-child(1) {
    margin-top: 100px;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html.is-fixed,
html.is-fixed body {
  overflow: hidden;
}

.p-header__spList {
  display: none;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .p-header__spList {
    display: flex;
  }
}

/*============./header============*/
/*============pickup============*/
.p-pickup .p-pickup__inner {
  display: flex;
  width: 96%;
  justify-content: center;
  margin: auto;
}
@media screen and (max-width: 1025px) {
  .p-pickup .p-pickup__inner {
    max-width: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .p-pickup .p-pickup__inner {
    flex-direction: column;
  }
}
.p-pickup .p-pickup__post {
  color: #333;
  background-color: #fff;
  width: 366px;
}
.p-pickup .p-pickup__post .p-pickup__image__thumbnails {
  color: #fff;
  padding: calc(132 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}
.p-pickup .p-pickup__post .p-pickup__title {
  padding: 15px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .p-pickup .p-pickup__post {
    width: 100%;
  }
}
.p-pickup .p-pickup__post:not(:nth-child(4n + 1)) {
  display: none;
}
.p-pickup .p-pickup__post + .p-pickup__post {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .p-pickup .p-pickup__post + .p-pickup__post {
    margin: 15px 0 0;
  }
}

/*============./pickup============*/
/*============container============*/
.p-container__inner {
  margin: 30px auto 0;
  display: flex;
  width: 96%;
  justify-content: center;
}
@media screen and (max-width: 1025px) {
  .p-container__inner {
    max-width: 1100px;
  }
}
@media screen and (max-width: 1025px) {
  .p-container__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .p-container__inner {
    flex-direction: column;
  }
}

/*============./container============*/
/*============postWrap============*/
.p-container__postWrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
}
@media screen and (max-width: 1025px) {
  .p-container__postWrap {
    max-width: none;
    width: 100%;
  }
}
.p-container__postWrap .p-container__post {
  background-color: #fff;
  width: calc(50% - 15px);
}
@media screen and (max-width: 768px) {
  .p-container__postWrap .p-container__post {
    width: 100%;
  }
}
.p-container__postWrap .p-container__post a {
  display: block;
  padding: 20px 20px 0;
}
.p-container__postWrap .p-container__post a .p-pickup__image__sumbnails {
  color: #fff;
  padding: calc(172 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}
.p-container__postWrap .p-container__post .p-container__date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.p-container__postWrap .p-container__post .p-container__postTitle {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.p-container__postWrap .p-container__post .p-container__discription {
  padding: 20px;
  font-size: 16px;
}
.p-container__postWrap .p-container__post:nth-child(2n) {
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .p-container__postWrap .p-container__post:nth-child(2n) {
    margin: 15px 0 0;
  }
}
.p-container__postWrap .p-container__post:nth-child(n + 3) {
  margin-top: 15px;
}

/*============./postWrap============*/
/*============single============*/
.p-container__postWrap .p-single__post {
  width: 100%;
}

/*============./single============*/
/*============sidebar============*/
.l-sidebar {
  width: 350px;
  margin-left: 30px;
  color: #808080;
}
@media screen and (max-width: 1025px) {
  .l-sidebar {
    width: 100%;
    margin: 30px 0 0;
  }
}

.p-sidebar__inner {
  display: flex;
  flex-direction: column;
}
.p-sidebar__inner section + section {
  margin-top: 30px;
}
.p-sidebar__inner .p-sidebar__profile {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-sidebar__inner .p-sidebar__profile .p-sidebar__profileImg img {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.p-sidebar__inner .p-sidebar__profile .p-sidebar__name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}
.p-sidebar__inner .p-sidebar__profile .p-sidebar__discription {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}
.p-sidebar__inner .p-sidebar__pickup {
  background-color: #fff;
}
.p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap .c-heading {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap .p-pickup__post {
  margin: 20px auto 0;
  width: 90%;
}
.p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap .p-pickup__post a {
  display: block;
}
.p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap .p-pickup__post a .p-pickup__image__sumbnails1 {
  padding: calc(172 / 300 * 100%) 20px 0;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 1025px) {
  .p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap .p-pickup__post a .p-pickup__image__sumbnails1 {
    padding: calc(102 / 300 * 100%) 20px 0;
  }
}
.p-sidebar__inner .p-sidebar__pickup .p-pickup__postWrap .p-pickup__post a .p-pickup__discription {
  padding: 10px 0;
  font-size: 18px;
}
.p-sidebar__inner .p-sidebar__archive {
  background-color: #fff;
}
.p-sidebar__inner .p-sidebar__archive .c-heading {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.p-sidebar__inner .p-sidebar__archive .p-sidebar__archiveList {
  margin: 20px;
}
.p-sidebar__inner .p-sidebar__archive .p-sidebar__archiveList .p-sidebar__month {
  padding: 15px 10px;
  line-height: 1;
  border-bottom: solid 1px #d3d3d3;
}
.p-sidebar__inner .p-sidebar__archive .p-sidebar__archiveList .p-sidebar__month a {
  padding-left: 5px;
}
.p-sidebar__inner .p-sidebar__search {
  background-color: #fff;
  padding: 30px;
}
.p-sidebar__inner .p-sidebar__search .p-search__container {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #993366;
  border-radius: 3px;
  height: 50px;
  width: 265px;
  overflow: hidden;
}
.p-sidebar__inner .p-sidebar__search .p-search__container input[type="text"] {
  border: none;
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.p-sidebar__inner .p-sidebar__search .p-search__container input[type="text"]:focus {
  outline: 0;
}
.p-sidebar__inner .p-sidebar__search .p-search__container input[type="submit"] {
  cursor: pointer;
  border: none;
  background: #993366;
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0px;
  outline: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}
@media screen and (max-width: 1025px) {
  .p-sidebar__inner .p-sidebar__search .p-search__container {
    width: 100%;
  }
}

/*============./sidebar============*/
/*============footer============*/
footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
footer .l-footer__inner .c-copylight {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*============./footer============*/

/*# sourceMappingURL=style.css.map */
