.done {
	display: none;
}

.topPageBtn {
	display: none;
}

.wpcf7-form {
	width: 96%;
	max-width: 600px;
	margin: auto;
}

.wpcf7-form p {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.contact_complete {
	margin-top: 30px;
}

.contact_complete .contents {
	margin-top: 30px;
}

.wpcf7-form-control-wrap {
	position: relative;
	width: 600px;
	@include mq(sp) {
		width: 96%;
	}
}

.wpcf7-form-control-wrap input[type="text"],
.wpcf7-form-control-wrap input[type="email"] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 5px;
	transition: 0.3s;
	border: 1px solid #333;
	border-radius: 4px;
}

.wpcf7-form-control-wrap textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	transition: 0.3s;
	border: 1px solid #333;
	border-radius: 4px;
	margin-top: 5px;
}

.wpcf7-text:focus,
.wpcf7-textarea:focus {
	border: 1px solid $main-color;
	outline: none;
	box-shadow: 0 0 5px 0.8px rgba(153, 51, 102, 0.5);
}

.wpcf7-response-output {
	text-align: center;
	border-color: #993366 !important;
	margin: 20px 0 !important;
}

.wpcf7-submit {
	margin-top: 30px;
	width: 180px;
	height: 40px;
	background-color: #993366;
	color: #fff;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 0;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	transition: 0.3s;
	outline: none;
	border: none; /* 枠線を消す */
	cursor: pointer;
}

.wpcf7-submit:hover {
	box-shadow: 0 0 15px 1px rgba(153, 51, 102, 0.5);
	opacity: 0.9;
}
