/*============footer============*/
footer {
	margin-top: 50px;
	padding: 20px;
	background-color: #333;
	.l-footer__inner {
		p {
			text-align: center;
			color: #fff;
			a {
				color: #fff;
			}
		}
		p + p {
			margin-top: 10px;
		}
	}
}
/*============./footer============*/
