/*============header============*/
.p-header__nav.is-sticky {
	position: fixed;
	top: 0;
}

header.is-sticky {
	padding-bottom: 70px;
}

.p-header__inner {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.p-header__title {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	background-color: $header-color;
	@include mq(sp) {
		display: none;
	}
	a {
		.p-header__logo {
			max-width: 400px;
		}
	}
}

.p-header__nav {
	background-color: $main-color;
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9997;
	color: #ebe0ce;
	@include mq(sp) {
		justify-content: flex-end;
	}
}

.p-header__list {
	display: flex;
	align-items: center;
	@include mq(sp) {
		flex-direction: column;
		position: relative;
		top: 314px;
		width: 100vw;
		height: 100vh;
		background-color: grey;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		&.open {
			opacity: 0.97;
			visibility: visible;
			transition: all 0.5s;
		}
	}
	//親となるメニュー項目
	.p-header__item {
		position: relative;
		display: flex;
		align-items: center;
		height: 70px;
		@include mq(tab) {
			justify-content: center;
			flex-direction: column;
		}
		@include mq(sp) {
			height: unset;
			margin-top: 60px;
		}
		a {
			color: #ebe0ce;
			font-size: 18px;
			transition-duration: 0.3s;
			&:hover {
				text-shadow: #eee 1px 1px 10px, #ebe0ce -1px 1px 10px,
					black 1px -1px 10px, #ebe0ce -1px -1px 10px;
				cursor: pointer;
				transition-duration: 0.3s;
			}
			@include mq(sp) {
				font-size: 24px;
			}
		}
	}
	> .p-header__item + .p-header__item {
		margin-left: 40px;
		@include mq(sp) {
			margin: 50px 0 0;
		}
	}
}

.sub-menu {
	display: none;
	position: absolute;
	background-color: $main-color;
	top: 70px;
	min-width: 100%;
	border: 3px solid $main-color;
	white-space: nowrap;
	@include mq(tab) {
		position: relative;
		top: 0;
		background-color: unset;
		border: unset;
	}
	//ドロップダウンメニューの項目
	.p-header__item {
		margin: 20px;
		height: 25px;
		border-bottom: 2px solid #ebe0ce;
		@include mq(tab) {
			margin: 30px 20px;
		}
		a {
			display: block;
			padding: 2px;
		}
	}
	&::before {
		content: "";
		border: solid 3px #ebe0ce;
		position: absolute;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		@include mq(tab) {
			content: none;
		}
	}
}
.sub-menu.is-active {
	display: block;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html.is-fixed,
html.is-fixed body {
	overflow: hidden;
}

body.fix {
	position: fixed;
	width: 100%;
}

.p-header__spList {
	display: none;
	z-index: 9998;
	height: 100%;
	width: 100%;
	padding-top: 100px;
	overflow-y: scroll;
	position: fixed;
	background-color: #333;
	opacity: 0.96;
	.p-header__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		a {
			color: #ebe0ce;
		}
	}
	.p-header__item + .p-header__item {
		margin-top: 50px;
	}
}

.p-header__spList.fix {
	display: block;
}

.p-header__spTitle {
	display: none;
	@include mq(sp) {
		display: flex;
		position: absolute;
		left: 20px;
		font-size: 24px;
		letter-spacing: 7px;
	}
	a {
		color: #ebe0ce;
	}
}
/*============./header============*/
